.container {
    padding: 30px;
}

.article {
    padding: 30px;
    font-family: sans-serif;
    display: inline-block;
    float: right;
    width: 40%;
    margin-right: 20px;
}

.nota-container {
    display: inline-block;
}